
.menu, .icon{
    display: none;
}
.header {
    display: flex;
    background: var(--negro);
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    box-shadow: 2px 0px 15px black;
}
.boxprimary {
    display: flex;
    gap: 17px;
    align-items: center;
}
.logo{
    width: 70px;
    border-radius: 100%;
}
.title {
    margin: 0;
    font-size: 3rem;
    color: var(--titulo);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}
/*Lista-ul*/
.nav{
    list-style: none;
    display: flex;
    gap: 20px;

}
/*lista-a*/
.nav-a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--dorado);
    transition: 0.2s ease-in-out all;
    font-family: cursive;
}
.nav-a:hover{
    text-decoration: underline;
    color: var(--titulo);
}

.fix{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    
}

.responsive{
    display: none;
}