.conteiner {
    display: flex;
    margin-top: 170px;
    flex-direction: column;
    align-items: center;
}
.conteiner-hero {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: var(--negro);
    border-radius: 20px;
    padding: 35px;
    border: 3px solid var(--titulo);
}
.hero-info{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    color: var(--titulo);
}
.hero-title{
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
    font-size: 1.5rem;
}

.hero-img{
    width: 45%;
}
.hero-btn{
    display: flex;
    justify-content: center;
    gap: 35px;
}
.picture{
    width: 400px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px var(--dorado);
}
.btn {
    width: 100px;
    padding: 5px;
    border-style: none;
    border-radius: 7px;
    background: var(--negro);
    color: var(--titulo);
    border: 3px solid   var(--titulo);
}
.dos{
    background: var(--dorado);
    color: var(--negro);
}
.conteiner-info{
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.text{
    color: var(--titulo);
    width: 40%;
    background-color: var(--negro);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 35px;
    border: 3px solid var(--titulo);
}
.text-title{
    font-family: cursive;
    text-decoration: underline;
    font-size: 2rem;
}
.parrafo{
    text-align: center;
}
.conteiner-service{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 85%;
}
.service-title{
    text-align: center;
    color: var(--titulo);
    text-decoration: underline;
    font-size: 2rem;
    font-family: cursive;
}
.img-price{
    width: 250px;
    height: 300px;
    background: var(--negro);
    border: 3px solid var(--titulo);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 25px;
    transition: .2s ease-in-out all;
}
.img-price img {
    width: 150px;
    margin-top: 20px;
    align-self: center;
    border-radius: 100%;
}
.price{
    color: var(--titulo);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.img-price:hover{
    box-shadow: 0px 0px 15px var(--dorado);
    cursor: pointer;
    transform: scale(1.02);
}
.service-img{
    display: flex;
    justify-content: space-around;
}
/*Contacto*/
.conteiner-contact{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    width: 55%;
    gap: 20px;
    color: var(--titulo);
}
.localitation{
    text-align: center;
}
.contact-map{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
iframe{
    width: 100%;
    height: 350px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    background: var(--negro);
    color: var(--titulo);
    gap: 20px;
    align-items: center;
    padding: 20px 0;
    border-radius: 20px;
    border: 3px solid var(--titulo);
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
textarea{
    resize: none;
}
.input{
    border-radius: 10px;
    padding: 5px 10px;
}