@media screen and (max-width: 415px){
    .nav{
        position: absolute;
        top: 50px;
        width: 90%;
        border: 3px solid var(--titulo);
        border-top: 0;
        left: 5%;
        flex-direction: column;
        align-items: center;
        background: var(--negro);
        border-radius: 0 0 20px 20px;
        padding: 10px 0;
        display: none;
        transition: 0.5s all;
    }
    .nav-a{
        font-size: 18px;
        color: var(--titulo);
    }
    .title{
        font-size: 1.8rem;
    }
    .logo {
        width: 50px;
    }
    .responsive{
        display: flex;
    }
    .icon{
        width: 25px;
        display: flex;
        align-self: flex-end;
    }
    .menu{
        display: none;
    }
    .menu:checked + .nav{
        display: flex;
        transition: 0.5s all;
    }
    .conteiner{
        margin-top: 200px;
    }




    .conteiner-hero{
        flex-direction: column-reverse;
        width: 90%;
    }
    .hero-info{
        width: 100%;
    }
    .hero-img{
        align-self: center;
        width: 150px;
        margin-bottom: 5px;
    }





    .conteiner-info{
        width: 90%;
    }
    .text {
        width: 100%;
    }


    .service-img{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }


    .conteiner-contact{
        width: 90%;
    }
    .form{
        width: 75%;
    }
}